@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Red Hat Text";
  src: url("./assets/fonts/RedHat.ttf");
  font-display: swap;
}

:root {
  font-family: "Red Hat Text", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
